@media (min-width: 768px) {
  html {
    font-size: 50%;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 56.25%;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 62.5%;
  }
}

body {
  font-size: 1.8em;
  transition: all 0.6s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: sans-serif;
  transition: all 0.3s ease;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.body--purple-theme {
  --primary-color: #6612EF;
  --highlight-color: #FF0000;
  --text-color: #FF0000;
  --hunter-even-outline-color: #FF0000;
  --hunter-even-fill-color: transparent;
  --projects-title-fill-color: #FFF;
  --projects-title-outline-color: #FF0000;
  --project-outline-color: #6612EF;
  --active-project-button-color: #FF0000;
  --active-project-button-outline-color: #FF0000;
  --bio-text-color: #FF0000;
  --footer-text-color: #6612EF;
  --contact-social-color: #6612EF;
  --contact-here-color: #FF0000;
  --active-theme-selector-color: #FF0000;
  --theme-selector-outline-color: #FF0000;
  --project-title-bg-color: #fff;
  --project-card-title-color: #6612EF;
  --project-card-title-border-color: #6612EF;
  --project-card-text-color: #000;
  --project-card-outline-color: #000;
}

.body--wavy-theme {
  --hunter-even-outline-color: #BDFF01;
  --hunter-even-fill-color: #BDFF01;
  --highlight-color: #BDFF01;
  --text-color: #6612EF;
  --projects-title-fill-color: #BDFF01;
  --projects-title-outline-color: #6612EF;
  --project-outline-color: #6612EF;
  --active-project-button-color: #6612EF;
  --active-project-button-outline-color: #BDFF01;
  --bio-text-color: #6612EF;
  --active-theme-selector-color: #BDFF01;
  --theme-selector-outline-color: #6612EF;
  --project-card-title-color: #6612EF;
  --project-card-title-border-color: #6612EF;
  --project-title-bg-color: #BDFF01;
  --project-card-outline-color: #6612EF;
  --project-card-text-color: #6612EF;
  --contact-title-bg-color: #FFF;
  --footer-text-color: #6612EF;
  --contact-here-color: #6612EF;
  --contact-social-color: #6612EF;
}

.body--static-theme {
  --hunter-even-outline-color: #2e2e2e;
  --hunter-even-fill-color: #2e2e2e;
  --highlight-color: #6612EF;
  --text-color: #6612EF;
  --projects-title-fill-color: #494949;
  --projects-title-outline-color: #FFF;
  --project-outline-color: #494949;
  --active-project-button-color: #FFADAD;
  --active-project-button-outline-color: #FFADAD;
  --bio-text-color: #494949;
  --footer-text-color: #6612EF;
  --contact-here-color: #6612EF;
  --contact-social-color: #6612EF;
  --active-theme-selector-color: #FFADAD;
  --theme-selector-outline-color: #000;
  --project-title-bg-color: #FFF;
  --project-card-title-color: #FFADAD;
  --project-card-title-border-color: #FFADAD;
  --project-card-outline-color: #494949;
  --project-card-text-color: #494949;
  --footer-text-color: #494949;
  --contact-here-color: #FFADAD;
  --contact-social-color: #494949;
}

a {
  text-decoration: none;
}

.background-clip {
  max-width: 100vw;
  min-height: 100vh;
  -webkit-background-clip: text;
          background-clip: text;
  scale: 1;
  transform-origin: top left;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: fill;
     object-fit: fill;
  background-repeat: no-repeat;
  overflow: hidden;
}

.apply-clip-mask {
  scale: clap(0.6, 0.8, 1);
  -webkit-mask-image: url(./assets/background1.svg);
  -webkit-mask-size: 60vw;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position-x: -25vw;
  -webkit-mask-position-y: -5vh;
  overflow-y: visible;
}

.hidden {
  display: none !important;
}

.main {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.main .main-bg-asset {
  transform-origin: center top;
}
.main .grid {
  margin: 0.6rem 1.25rem 0 1.25rem;
  position: relative;
  min-height: 100vh;
  flex-direction: column;
  gap: 0.8rem;
}
.main .grid .title {
  font-family: JetBrains Mono;
  font-size: 13vw;
  text-align: right;
  color: var(--hunter-even-fill-color);
  -webkit-text-stroke: 1px var(--hunter-even-outline-color);
  text-transform: uppercase;
  margin-top: 2.375rem;
  transition: all 0.6s ease-in-out;
  background-color: transparent;
}
.main .grid .title:hover {
  cursor: pointer;
  filter: invert(0.8);
}
.main .grid .title .desktop-title-break {
  display: none !important;
}
.main .grid .wavy-theme-transparent {
  opacity: 0.65;
}
.main .grid .theme-selector-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0.4rem 0.8rem;
  gap: 1vh;
}
.main .grid .theme-selector-box .theme-selector-box__circle {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid var(--theme-selector-outline-color);
  transition: border 0.3s ease, background-color 0.3s ease;
}
.main .grid .theme-selector-box .theme-selector-box__circle:hover {
  background-color: var(--active-theme-selector-color);
}
.main .grid .theme-selector-box .theme-selector-box__circle:hover::before {
  opacity: 1;
}
.main .grid .theme-selector-box .theme-selector-box__circle.theme-selector-box__circle--active {
  background-color: var(--active-theme-selector-color);
}
.main .grid .theme-selector-box .active-theme-selector {
  background-color: var(--active-theme-selector-color);
}
.main .grid .theme-selector-box .theme-selector-box__cross-icon {
  font-size: 1.25rem;
  color: var(--theme-selector-outline-color);
  cursor: pointer;
  transition: color 0.3s ease;
  scale: 1.2;
}
.main .grid .theme-selector-box .cross-hidden {
  display: none;
}
.main .grid .theme-selector-box .hidden {
  display: none;
}
.main .grid .projects-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.7rem;
}
.main .grid .projects-list .projects-list__title {
  font-family: sans-serif;
  font-size: 8vw;
  font-weight: 700;
  letter-spacing: 0.1563rem;
  color: var(--projects-title-fill-color);
  text-transform: uppercase;
  text-align: right;
  -webkit-text-stroke: 1px var(--projects-title-outline-color);
}
.main .grid .projects-list .projects-list__project-button {
  font-family: sans-serif;
  font-size: 3vh;
  font-weight: 700;
  letter-spacing: 0.125rem;
  color: white;
  text-transform: uppercase;
  text-align: right;
  cursor: pointer;
  transition: all 0.5s ease;
  -webkit-text-stroke: 1px var(--project-outline-color);
  transform-origin: right; /* Set the transform origin */
}
.main .grid .projects-list .projects-list__project-button:hover {
  scale: 1.5;
  align-self: flex-end;
}
.main .grid .projects-list .project-button--active {
  color: var(--active-project-button-color);
  -webkit-text-stroke: 1px var(--active-project-button-outline-color);
}
.main .grid .bio {
  padding-top: 4rem;
  display: flex;
}
.main .grid .bio .bio__text {
  font-family: sans-serif;
  font-size: clamp(0.6rem, 1rem, 3.6vw);
  line-height: clamp(1.5rem, 2.5vw, 4.125rem);
  color: var(--bio-text-color);
  letter-spacing: 1.12px;
  text-align: justify;
  padding: 4vh 0.8rem 1vh 0.8rem;
  transition: all 0.5s ease;
}
.main .grid .card-close-button {
  display: none;
  align-items: center;
  justify-items: center;
  z-index: 1000;
  position: relative;
  top: 1rem;
  left: 1rem;
  background-color: white;
  font-size: 2.25rem;
  height: 1.75rem;
  width: 1.75rem;
  color: var(--theme-selector-outline-color);
  cursor: pointer;
  transition: color 0.3s ease;
  scale: 1.2;
  border: 2px solid var(--theme-selector-outline-color);
  border-radius: 50%;
}
.main .grid .card-close-button:hover {
  color: var(--active-theme-selector-color);
  background-color: var(--theme-selector-outline-color);
}
.main .grid .card-close-button__icon {
  font-size: 1rem;
  color: var(--theme-selector-outline-color);
  cursor: pointer;
  transition: color 0.3s ease;
  scale: 1.2;
}
.main .grid .card-close-button__icon:hover {
  color: var(--active-theme-selector-color);
}
.main .grid .project-card, .main .grid .contact-card {
  z-index: 100;
  overflow-y: scroll;
  max-height: 42vh;
  min-height: 40vh;
  display: grid;
  gap: 0.4rem;
  background: white;
  grid-template-columns: 1fr;
  position: absolute;
  top: 40vh;
  transition: all 1s ease;
  border: 1px solid var(--project-card-outline-color);
  border-radius: 1.525rem;
  margin: 0.6rem 0.8rem 0rem 0.8rem;
  padding: 0.6rem 0.8rem;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.55);
}
.main .grid .project-card::-webkit-scrollbar, .main .grid .contact-card::-webkit-scrollbar {
  display: none;
  border-radius: 2rem;
  width: 0.5rem;
}
.main .grid .project-card::-webkit-scrollbar-track, .main .grid .contact-card::-webkit-scrollbar-track {
  background: white;
  border-radius: 2rem;
  height: 80%;
}
.main .grid .project-card::-webkit-scrollbar-thumb, .main .grid .contact-card::-webkit-scrollbar-thumb {
  border: 2px solid var(--project-card-outline-color);
  border-radius: 2rem;
}
.main .grid .project-card__project-logo, .main .grid .contact-card__project-logo {
  display: none;
}
.main .grid .project-card__title, .main .grid .contact-card__title {
  max-width: 100%;
  height: -moz-max-content;
  height: max-content;
  align-self: center;
  justify-self: center;
  background-color: var(--project-title-bg-color);
  font-size: 2.5vh;
  font-weight: 700;
  letter-spacing: 0.125rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--project-card-title-color);
  margin: 0.6rem 0;
  padding: 0.3125rem 1rem;
  border: 2px solid var(--project-card-title-border-color);
  border-radius: 1.25rem;
}
.main .grid .project-card .title-contact, .main .grid .contact-card .title-contact {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.125rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--project-card-title-color);
  background-color: var(--contact-title-bg-color);
  border: none;
  border: none;
  border-radius: 1.25rem;
}
.main .grid .project-card__details, .main .grid .contact-card__details {
  font-size: 0.6rem;
  color: var(--project-card-text-color);
  text-align: justify;
  grid-template-columns: 1fr;
  gap: 0.925rem;
}
.main .grid .project-card__tech-stack, .main .grid .contact-card__tech-stack {
  font-size: 0.6rem;
  margin-bottom: 0.8rem;
  font-weight: 700;
  color: var(--project-card-text-color);
  text-align: center;
}
.main .grid .project-card__description, .main .grid .contact-card__description {
  font-size: 0.8rem;
  line-height: 1.2;
  padding-bottom: 0.6rem;
}
.main .grid .project-card__greeting, .main .grid .contact-card__greeting {
  font-size: 0.7rem;
  color: var(--project-card-text-color);
  text-align: justify;
  margin-bottom: 0.4rem;
}
.main .grid .project-card__form, .main .grid .contact-card__form {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 0.8rem;
  margin: 0.6rem 0;
}
.main .grid .project-card__form-input, .main .grid .contact-card__form-input {
  font-size: 0.7rem;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--project-card-outline-color);
}
.main .grid .project-card__form-input:focus, .main .grid .contact-card__form-input:focus {
  outline: none;
  border-bottom: 2px solid var(--project-card-outline-color);
}
.main .grid .project-card__form-input::-moz-placeholder, .main .grid .contact-card__form-input::-moz-placeholder {
  color: var(--project-card-text-color);
}
.main .grid .project-card__form-input::placeholder, .main .grid .contact-card__form-input::placeholder {
  color: var(--project-card-text-color);
}
.main .grid .project-card__form-message, .main .grid .contact-card__form-message {
  margin-top: 0.6rem;
  font-size: 0.7rem;
  padding: 0.4rem 0.6rem -0.8rem 0.6rem;
  width: 100%;
  border: none;
  border-bottom: 2px dashed var(--project-card-outline-color);
  color: var(--project-card-text-color);
}
.main .grid .project-card__form-message:focus, .main .grid .contact-card__form-message:focus {
  outline: none;
  border-bottom: 2px solid var(--project-card-outline-color);
}
.main .grid .project-card__form-message:focus::-moz-placeholder, .main .grid .contact-card__form-message:focus::-moz-placeholder {
  top: 10px;
}
.main .grid .project-card__form-message:focus::placeholder, .main .grid .contact-card__form-message:focus::placeholder {
  top: 10px;
}
.main .grid .project-card__form-message::-moz-placeholder, .main .grid .contact-card__form-message::-moz-placeholder {
  position: relative; /* Position the placeholder relative to the textarea */
  top: 0.7rem;
}
.main .grid .project-card__form-message::placeholder, .main .grid .contact-card__form-message::placeholder {
  position: relative; /* Position the placeholder relative to the textarea */
  top: 0.7rem;
}
.main .grid .project-card__form-submit, .main .grid .contact-card__form-submit {
  max-width: 80%;
  justify-self: center;
  background-color: var(--project-title-bg-color);
  font-size: 2vh;
  font-weight: 700;
  letter-spacing: 0.125rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--project-card-title-color);
  margin: 0.8rem 0;
  padding: 0.4125rem 2.5rem;
  border: 2px solid var(--project-card-title-border-color);
  border-radius: 1.25rem;
}
.main .grid .project-card__form-submit:hover, .main .grid .contact-card__form-submit:hover {
  background-color: var(--project-card-title-border-color);
  color: var(--project-title-bg-color) !important;
}
.main .footer {
  z-index: 0;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 0.8rem;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 4.5rem;
  justify-self: center;
  align-self: center;
}
.main .footer__text {
  color: var(--footer-text-color);
  font-family: JetBrains Mono;
  font-size: 1.4vh;
  text-align: center;
}
.main .footer .footer__here-btn {
  color: var(--contact-here-color);
  text-decoration: underline;
  font-size: 1.4vh;
}
.main .footer .footer__here-btn:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.main .footer .footer__social-link .social-link__icon {
  font-size: 1rem;
  color: var(--contact-social-color);
  transition: fill 0.3s ease;
}
.main .footer .footer__social-link .social-link__icon:hover {
  scale: 1.4;
  cursor: pointer;
}

.card-transition {
  transition: all 1s ease-in-out;
}

.out-of-view-right {
  transition: all 1s ease-in-out;
  display: hidden;
  transform: translateX(120vw);
}

.out-of-view-bottom {
  transition: all 1s ease-in-out;
  display: hidden;
  position: absolute;
  transform: translateY(140vh);
}

@media only screen and (min-width: 725px) {
  main {
    display: block;
    margin: 0 0 0 0 !important;
  }
  .background-clip {
    scale: 1;
    min-height: 100vh !important;
  }
  .apply-clip-mask {
    -webkit-mask-size: 70vw;
    -webkit-mask-position-x: -5vw;
    -webkit-mask-position-y: 0vh;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    justify-content: end;
    margin: 0 0 0 0 !important;
  }
  .grid .desktop-right-grid {
    display: flex !important;
    align-items: end !important;
    justify-content: center !important;
  }
  .grid .desktop-grid-left {
    display: flex !important;
    grid-template-rows: auto auto;
    margin-top: 6rem;
  }
  .grid .title {
    block-size: auto;
    grid-column: 1;
    grid-row: 1;
    max-width: 40vw;
    text-align: left;
    font-size: clamp(3.5rem, 10vw, 25rem) !important;
    margin: 0rem 4rem !important;
    padding: 0rem 3rem !important;
    justify-self: start !important;
    -webkit-text-stroke: 3px var(--hunter-even-outline-color) !important;
  }
  .grid .theme-selector-box {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: column !important;
    justify-content: flex-start !important;
    padding-top: 3vw !important;
    margin-right: 5;
    padding-left: 4rem;
    gap: clamp(0.6rem, 1vw, 2.5rem) !important;
  }
  .grid .theme-selector-box .theme-selector-box__circle {
    width: 2vw !important;
    max-width: 4rem !important;
    height: 2vw !important;
    max-height: 4rem !important;
  }
  .grid .projects-list {
    grid-column: 2;
    grid-row: 1;
    margin: 5rem 4rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.2rem !important;
    padding-top: 3rem;
  }
  .grid .projects-list__title {
    font-size: clamp(1.8rem, 4vw, 10rem) !important;
  }
  .grid .projects-list__project-button {
    font-size: clamp(1.5rem, 3vw, 7rem) !important;
  }
  .grid .bio {
    grid-column: 2;
    grid-row: 1;
    position: relative;
    padding: 0rem auto !important;
    max-width: 55%;
    justify-self: right;
    align-self: center;
    margin: 0rem 4rem;
    top: 16rem !important;
  }
  .grid .bio__text {
    font-size: 1.8rem !important;
    line-height: 3.125rem !important;
    letter-spacing: 0.1563rem;
    padding: 2rem 0rem;
  }
  .grid .card-close-button {
    display: grid !important;
    height: 3.25rem !important;
    width: 3.25rem !important;
  }
  .grid .card-close-button__icon {
    font-size: 1.5rem !important;
  }
  .grid .desktop-grid-right {
    grid-column: 2;
    left: 12rem !important;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
  }
  .grid .project-card, .grid .contact-card {
    display: grid !important;
    grid-template-rows: auto;
    width: clamp(20rem, 40vw, 50rem) !important;
    min-height: 60vh !important;
    max-height: 80vh !important;
    position: relative;
    top: 9rem !important;
    left: 5vw !important;
    border: 3px solid var(--project-card-outline-color) !important;
    justify-content: flex-start !important;
    justify-self: center !important;
    align-self: center !important;
    gap: 1.4rem !important;
    padding: 1.4rem 3.4rem !important;
    margin-bottom: 8rem !important;
  }
  .grid .project-card--desktop-grid-left, .grid .contact-card--desktop-grid-left {
    grid-column: 1;
  }
  .grid .project-card--desktop-grid-right, .grid .contact-card--desktop-grid-right {
    grid-column: 2;
    left: 12rem !important;
    min-height: 70vh;
  }
  .grid .project-card__project-logo, .grid .contact-card__project-logo {
    background-repeat: no-repeat;
    background-size: contain;
    display: block !important;
    height: 8rem !important;
    padding: 10rem 10rem;
    margin: 4rem auto 0rem auto !important;
  }
  .grid .project-card .open-fermenet-logo, .grid .contact-card .open-fermenet-logo {
    background-image: url("./assets/hunter-even-of-logo.png");
  }
  .grid .project-card .bug-tracker-logo, .grid .contact-card .bug-tracker-logo {
    background-image: url("./assets/hunter-even-bt-logo.png");
  }
  .grid .project-card .portfolio-logo, .grid .contact-card .portfolio-logo {
    background-image: url("./assets/hunter-even-he-logo.png");
    background-size: auto 70%;
    background-position: center;
  }
  .grid .project-card__greeting, .grid .contact-card__greeting {
    font-size: 2rem !important;
    font-weight: 600;
    margin: 3rem 0rem !important;
    padding: 0.4rem 0rem;
    text-align: center !important;
  }
  .grid .project-card__title, .grid .contact-card__title {
    font-size: 3rem !important;
    margin: 0 !important;
    margin: 2.2rem !important;
    padding: 0.8125rem 3.5rem !important;
    border: 3px solid var(--project-card-title-border-color) !important;
    border-radius: 3rem !important;
  }
  .grid .project-card .title-contact, .grid .contact-card .title-contact {
    font-size: clamp(1.8rem, 3vw, 6rem) !important;
    border: none !important;
    background-color: var(--contact-title-bg-color) !important;
  }
  .grid .project-card__tech-stack, .grid .contact-card__tech-stack {
    font-size: 2rem !important;
    margin-bottom: 0.8rem;
    font-weight: 700;
    color: var(--project-card-text-color);
    text-align: center;
  }
  .grid .project-card__description, .grid .contact-card__description {
    font-size: 1.6rem !important;
    line-height: 1.5 !important;
    padding-bottom: 0.6rem;
    margin: 0 1.25rem !important;
  }
  .grid .project-card__greeting, .grid .contact-card__greeting {
    font-size: 1.8rem !important;
    padding: 0 4rem !important;
  }
  .grid .project-card__form, .grid .contact-card__form {
    padding: 0 4rem !important;
    gap: 1.8rem !important;
  }
  .grid .project-card__form-input, .grid .contact-card__form-input {
    font-size: 1.8rem !important;
    margin-top: 1.2rem;
    color: var(--project-card-text-color);
  }
  .grid .project-card__form-message, .grid .contact-card__form-message {
    margin-top: 1.8rem !important;
    font-size: 1.8rem !important;
    padding: 0.4rem 0.6rem -2.8rem 0.6rem !important;
  }
  .grid .out-of-view-right {
    transition: all 1s ease-in-out;
    display: hidden;
    transform: translateX(0vw);
  }
  .grid .out-of-view-right-desktop {
    transition: all 1s ease-in-out;
    display: hidden;
    transform: translateX(120vw);
  }
  .grid .out-of-view-left {
    transition: all 1s ease-in-out;
    display: hidden;
    transform: translateX(-120vw);
  }
  .grid .footer {
    grid-column: 2;
    position: relative;
    padding: 5rem 10rem !important;
    padding-right: 4.5rem !important;
  }
  .grid .footer__text {
    font-size: clamp(1.4rem, 1vw, 2rem) !important;
  }
  .grid .footer--desktop-grid-right {
    grid-column: 2;
    grid-row: 2;
  }
  .grid .footer .footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 2;
  }
  .grid .footer .footer__text {
    font-size: 1.4vh;
  }
  .grid .footer .social-link__icon {
    font-size: 1.6rem !important;
  }
}/*# sourceMappingURL=style.css.map */