// $highlight-color: #FF0000;
// $primary-color: #6612EF;


html {
    // Default (Extra small screens). 1rem = 7px
    // font-size: percentage(7 / 16);
    @media (min-width: 768px) {
      // Small screens. 1rem = 8px
      font-size: percentage(8 / 16);
    }
    @media (min-width: 992px) {
      // Medium screens. 1rem = 9px
      font-size: percentage(9 / 16);
    }
    @media (min-width: 1200px) {
      // Large screens. 1rem = 10px
      font-size: percentage(10 / 16);
    }
  }
  body {
    font-size: 1.8em;
  }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;

    font-family: sans-serif;

    transition: all 0.3s ease;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.body--purple-theme {  
    --primary-color: #6612EF;
    --highlight-color: #FF0000;
    --text-color: #FF0000;
    --hunter-even-outline-color: #FF0000;
    --hunter-even-fill-color: transparent;
    --projects-title-fill-color: #FFF;
    --projects-title-outline-color: #FF0000;
    --project-outline-color: #6612EF;
    --active-project-button-color: #6612EF; 
    --active-project-button-color: #FF0000;
    --bio-text-color: #FF0000;
    --footer-text-colour: #6612EF;
    --contact-social-color: #6612EF;
    --contact-here-color: #FF0000;
    --active-theme-selector-color: #FF0000;
    --theme-selector-outline-color: #6612EF;

    --project-title-bg-color: transparent;
    --project-card-title-color: #6612EF;
    --project-card-text-color: #000;
    --project-card-outline-color: #000;

}

.body--wavy-theme {
    --hunter-even-outline-color: #BDFF01;
    --hunter-even-fill-color: #BDFF01;
    --highlight-color: #BDFF01;
    --text-color: #6612EF;
    --projects-title-fill-color: #BDFF01;
    --projects-title-outline-color: #6612EF;
    --project-outline-color: #6612EF;
    --active-project-button-color: #6612EF;
    --bio-text-color: #6612EF;
    --footer-text-colour: #6612EF;
    --contact-here-color: #6612EF;
    --contact-social-color: #6612EF;

    --active-theme-selector-color: #BDFF01;
    --theme-selector-outline-color: #6612EF;

    --project-card-title-color: #6612EF;
    --project-title-bg-color: #BDFF01;
    --project-card-outline-color: #6612EF;
    --project-card-text-color: #6612EF;
}

.body--static-theme{
    --hunter-even-outline-color: #6612EF;
    --hunter-even-fill-color: transparent;
    --highlight-color: #6612EF;
    --text-color: #6612EF;
    --projects-title-fill-color: #6612EF;
    --projects-title-outline-color: #6612EF;
    --project-outline-color: #6612EF;
    --active-project-button-color: #6612EF;
    --bio-text-color: #6612EF;
    --footer-text-colour: #6612EF;
    --contact-here-color: #6612EF;
    --contact-social-color: #6612EF;

    --active-theme-selector-color: #6612EF;
    --theme-selector-outline-color: #6612EF;

    --project-title-bg-color: #6612EF;
}

a{
    text-decoration: none ;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    height: 100vh;
    margin: 0 1.25rem;

    .main__bg-asset {
        z-index: -1;
        position: absolute;
        transform-origin: center top;
        transform: scaleY(calc(1 - 0.2 * ((900px - 100vw) / 1000)));
        top: -0.125rem;
        left: -35%;
    }
    
 
    
    

    .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto;
        justify-content: center;
        align-items: center;
        margin: 0px 0px;
        
        .title {
            font-family:JetBrains Mono;
            font-size: 13vw;
            text-align: right;
            color: var(--hunter-even-fill-color);
            -webkit-text-stroke: 2px var(--hunter-even-outline-color);
            text-transform: uppercase;
            margin-top: 1.875rem;
            white-space: nowrap;
        }

        .wavy-theme-transparent {
            opacity: 0.8;
        }
     
        
        .theme-selector-box {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            gap: 10px;

            .theme-selector-box__circle {
                width: 1.25rem;
                height: 1.25rem;
                border-radius: 50%;
                cursor: pointer;
                border: 1px solid var(--theme-selector-outline-color);
                transition: border 0.3s ease, background-color 0.3s ease;

                // &::before {
                //     // content: "+";
                //     // opacity: 0;
                //     // position: absolute;
                //     // top: 50%;
                //     // left: 50%;
                //     // transform: translate(-50%, -50%);
                //     // transition: opacity 0.3s ease;
                // }

                &:hover {
                    // border: none;
                    background-color: var(--highlight-color);

                    &::before {
                        opacity: 1;
                    }
                }

                &.themme-selector-box__circle--active {
                    background-color: var(--highlight-color);
                }
            }
            .active-theme-selector{
                background-color: var(--highlight-color);
            }
        }
        
        .projects-list {
            margin-top: 1.25rem;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 5px;
        
            .projects-list__title {
                font-family: sans-serif;
                font-size: 8vw;
                font-weight: 700;
                letter-spacing: 0.1563rem;
                color: var(--projects-title-fill-color);
                text-transform: uppercase;
                text-align: right;
                margin-bottom: 0.625rem;
                -webkit-text-stroke: 1px var(--projects-title-outline-color);
            }
        
        
            .projects-list__project-button {
                font-family: sans-serif;
                font-size: 6vw;
                font-weight: 700;
                letter-spacing: 0.125rem;
                color: white;
                text-transform: uppercase;
                text-align: right;
                margin-bottom: 0.625rem;
                cursor: pointer;
                transition: all 0.5s ease;
                -webkit-text-stroke: 1px var(--project-outline-color);
                transform-origin: right; /* Set the transform origin */
        
                &:hover {
                    scale: 1.5;
                    align-self: flex-end;
                }
            }

            .project-button--active {
                color: var(--text-color);
                -webkit-text-stroke: 1px var(--text-color);
            }
        }
        
        .bio {
            margin-top: 3.75rem;
            justify-self: center;
            align-self: center;

        .bio__text {
            font-family: sans-serif;
            font-size: 1rem;
            line-height: 1.25rem;
            color: var(--bio-text-color);
            letter-spacing: 1.12px;
            // word-spacing: 5px;
            text-align: justify;
        }    
        }

        .project-card{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto;
            justify-content: center;
            align-items: center;
            // gap: 10px;

            z-index: 100;
            grid-row: 4;
            align-self: center;
            justify-self: center;

            transition: all 0.3s ease;

            border: 1px solid var(--project-card-outline-color);
            border-radius: 3.125rem;
            margin: 0rem 0rem;
            // padding: 10px 10px;
            transform: translateY(3.75rem);
            box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.55);

            &__title {
                max-width: 80%;
                // align-self: center;
                justify-self: center;
                
                background-color: var(--project-title-bg-color);
                font-size: 1rem;
                font-weight: 700;
                letter-spacing: 0.125rem;
                text-align: center ;
                text-transform: uppercase;
                color: var(--project-card-title-color);

                margin: 1.25rem 1.25rem;
                padding: 0.3125rem 2.5rem;

                border: 2px solid var(--project-outline-color);
                border-radius: 1.25rem;    
            }

            &__details {
                font-size: 1rem;
                margin: 0.625rem 1.25rem;
                color: var(--project-card-text-color);
                text-align: justify;

                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: auto auto auto;
                justify-content: center;
                align-items: center;
                gap: 0.625rem;
            }

            &__description {
                font-size: 0.8125rem;
                
                
            }


        }




    }

    .footer {
        
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 0.625rem;
        justify-content: center;
        // align-items: center;
        position: absolute;
        bottom: 4vh;
        margin: 0 2vh;

        .footer__text {
        color: var(--footer-text-colour);
        font-family: JetBrains Mono;
        font-size: .8rem;
 
        }

        .footer__here-btn {
            color: var(--contact-here-color);
            text-decoration: underline;

            &:hover {
                cursor: pointer;
                transform: scale(1.2);
            }
        }

       






        .footer__social-link {
            align-self: flex-start;
            justify-self: flex-start;
            height: 1.5625rem;

        .social-link__icon {
            font-size: 1.5625rem;
            // width: 100%;
            color: var(--contact-social-color);
            transition: fill 0.3s ease; 
        }

    }

 
       


    

}

}




//UTILITY CLASSES//
.out-of-view-right{
    transform: translateX(120%);
}

.out-of-view-bottom{
    transform: translateY(120%);
}