* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: sans-serif;
  transition: all 0.3s ease;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.body--purple-theme {
  --primary-color: #6612EF;
  --highlight-color: #FF0000;
  --text-color: #FF0000;
  --hunter-even-outline-color: #FF0000;
  --hunter-even-fill-color: transparent;
  --projects-title-fill-color: #FFF;
  --projects-title-outline-color: #FF0000;
  --project-outline-color: #6612EF;
  --active-project-button-color: #6612EF;
  --active-project-button-color: #FF0000;
  --bio-text-color: #FF0000;
  --footer-text-colour: #6612EF;
  --contact-social-color: #6612EF;
  --contact-here-color: #FF0000;
  --active-theme-selector-color: #FF0000;
  --theme-selector-outline-color: #6612EF;
  --project-title-bg-color: transparent;
  --project-card-title-color: #6612EF;
  --project-card-text-color: #000;
  --project-card-outline-color: #000;
}

.body--wavy-theme {
  --hunter-even-outline-color: #BDFF01;
  --hunter-even-fill-color: #BDFF01;
  --highlight-color: #BDFF01;
  --text-color: #6612EF;
  --projects-title-fill-color: #BDFF01;
  --projects-title-outline-color: #6612EF;
  --project-outline-color: #6612EF;
  --active-project-button-color: #6612EF;
  --bio-text-color: #6612EF;
  --footer-text-colour: #6612EF;
  --contact-here-color: #6612EF;
  --contact-social-color: #6612EF;
  --active-theme-selector-color: #BDFF01;
  --theme-selector-outline-color: #6612EF;
  --project-card-title-color: #6612EF;
  --project-title-bg-color: #BDFF01;
  --project-card-outline-color: #6612EF;
  --project-card-text-color: #6612EF;
}

.body--static-theme {
  --hunter-even-outline-color: #6612EF;
  --hunter-even-fill-color: transparent;
  --highlight-color: #6612EF;
  --text-color: #6612EF;
  --projects-title-fill-color: #6612EF;
  --projects-title-outline-color: #6612EF;
  --project-outline-color: #6612EF;
  --active-project-button-color: #6612EF;
  --bio-text-color: #6612EF;
  --footer-text-colour: #6612EF;
  --contact-here-color: #6612EF;
  --contact-social-color: #6612EF;
  --active-theme-selector-color: #6612EF;
  --theme-selector-outline-color: #6612EF;
  --project-title-bg-color: #6612EF;
}

a {
  text-decoration: none;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0 20px;
}
.main .main__bg-asset {
  z-index: -1;
  position: absolute;
  top: -2px;
  left: -35%;
}
.main .grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto;
  justify-content: center;
  align-items: center;
  margin: 0px 0px;
}
.main .grid .title {
  font-family: JetBrains Mono;
  font-size: 58px;
  text-align: right;
  color: var(--hunter-even-fill-color);
  -webkit-text-stroke: 2px var(--hunter-even-outline-color);
  text-transform: uppercase;
  margin-top: 30px;
}
.main .grid .wavy-theme-transparent {
  opacity: 0.8;
}
.main .grid .theme-selector-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}
.main .grid .theme-selector-box .theme-selector-box__circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid var(--theme-selector-outline-color);
  transition: border 0.3s ease, background-color 0.3s ease;
}
.main .grid .theme-selector-box .theme-selector-box__circle:hover {
  background-color: var(--highlight-color);
}
.main .grid .theme-selector-box .theme-selector-box__circle:hover::before {
  opacity: 1;
}
.main .grid .theme-selector-box .theme-selector-box__circle.themme-selector-box__circle--active {
  background-color: var(--highlight-color);
}
.main .grid .theme-selector-box .active-theme-selector {
  background-color: var(--highlight-color);
}
.main .grid .projects-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}
.main .grid .projects-list .projects-list__title {
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 2.5px;
  color: var(--projects-title-fill-color);
  text-transform: uppercase;
  text-align: right;
  margin-bottom: 10px;
  -webkit-text-stroke: 1px var(--projects-title-outline-color);
}
.main .grid .projects-list .projects-list__project-button {
  font-family: sans-serif;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 2px;
  color: white;
  text-transform: uppercase;
  text-align: right;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.5s ease;
  -webkit-text-stroke: 1px var(--project-outline-color);
  transform-origin: right; /* Set the transform origin */
}
.main .grid .projects-list .projects-list__project-button:hover {
  scale: 1.5;
  align-self: flex-end;
}
.main .grid .projects-list .project-button--active {
  color: var(--text-color);
  -webkit-text-stroke: 1px var(--text-color);
}
.main .grid .bio {
  margin-top: 60px;
  justify-self: center;
  align-self: center;
}
.main .grid .bio .bio__text {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: var(--bio-text-color);
  letter-spacing: 1.12px;
  text-align: justify;
}
.main .grid .project-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  justify-content: center;
  align-items: center;
  z-index: 100;
  grid-row: 4;
  align-self: center;
  justify-self: center;
  transition: all 0.3s ease;
  border: 1px solid var(--project-card-outline-color);
  border-radius: 50px;
  margin: 0px 0px;
  padding: 10px 10px;
  transform: translateY(60px);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.55);
}
.main .grid .project-card__title {
  max-width: 80%;
  justify-self: center;
  background-color: var(--project-title-bg-color);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  color: var(--project-card-title-color);
  margin: 20px 20px;
  padding: 5px 40px;
  border: 2px solid var(--project-outline-color);
  border-radius: 20px;
}
.main .grid .project-card__details {
  font-size: 16px;
  margin: 10px 20px;
  color: var(--project-card-text-color);
  text-align: justify;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.main .grid .project-card__description {
  font-size: 13px;
}
.main .footer {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  justify-content: center;
  position: absolute;
  bottom: 40px;
  margin: 0 20px;
}
.main .footer .footer__text {
  color: var(--footer-text-colour);
  font-family: JetBrains Mono;
  font-size: 16px;
}
.main .footer .footer__here-btn {
  color: var(--contact-here-color);
  text-decoration: underline;
}
.main .footer .footer__here-btn:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.main .footer .footer__social-link {
  align-self: flex-start;
  justify-self: flex-start;
  height: 25px;
}
.main .footer .footer__social-link .social-link__icon {
  font-size: 25px;
  color: var(--contact-social-color);
  transition: fill 0.3s ease;
}

.out-of-view-right {
  transform: translateX(120%);
}

.out-of-view-bottom {
  transform: translateY(120%);
}/*# sourceMappingURL=style.css.map */