// $highlight-color: #FF0000;
// $primary-color: #6612EF;


html {
    // Default (Extra small screens). 1rem = 7px
    // font-size: percentage(7 / 16);
    @media (min-width: 768px) {
      // Small screens. 1rem = 8px
      font-size: percentage(8 / 16);
    }
    @media (min-width: 992px) {
      // Medium screens. 1rem = 9px
      font-size: percentage(9 / 16);
    }
    @media (min-width: 1200px) {
      // Large screens. 1rem = 10px
      font-size: percentage(10 / 16);
    }
  }
  body {
    font-size: 1.8em;
    transition: all 0.6s ease;
  }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;

    font-family: sans-serif;

    transition: all 0.3s ease;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.body--purple-theme {  
    --primary-color: #6612EF;
    --highlight-color: #FF0000;
    --text-color: #FF0000;
    --hunter-even-outline-color: #FF0000;
    --hunter-even-fill-color: transparent;
    --projects-title-fill-color: #FFF;
    --projects-title-outline-color: #FF0000;
    --project-outline-color: #6612EF;
    --active-project-button-color: #FF0000;
    --active-project-button-outline-color: #FF0000;


    --bio-text-color: #FF0000;
    --footer-text-color: #6612EF;
    --contact-social-color: #6612EF;
    --contact-here-color: #FF0000;


    --active-theme-selector-color: #FF0000;
    --theme-selector-outline-color: #FF0000;



    --project-title-bg-color: #fff;
    --project-card-title-color: #6612EF;
    --project-card-title-border-color: #6612EF;
    --project-card-text-color: #000;
    --project-card-outline-color: #000;

}

.body--wavy-theme {
    --hunter-even-outline-color: #BDFF01;
    --hunter-even-fill-color: #BDFF01;
    --highlight-color: #BDFF01;
    --text-color: #6612EF;
    --projects-title-fill-color: #BDFF01;
    --projects-title-outline-color: #6612EF;
    --project-outline-color: #6612EF;
    --active-project-button-color: #6612EF;
    --active-project-button-outline-color: #BDFF01;
    --bio-text-color: #6612EF;
    

    --active-theme-selector-color: #BDFF01;
    --theme-selector-outline-color: #6612EF;

    --project-card-title-color: #6612EF;
    --project-card-title-border-color: #6612EF;
    --project-title-bg-color: #BDFF01;
    --project-card-outline-color: #6612EF;
    --project-card-text-color: #6612EF;

    --contact-title-bg-color: #FFF;

    --footer-text-color: #6612EF;
    --contact-here-color: #6612EF;
    --contact-social-color: #6612EF;
}

.body--static-theme{
    --hunter-even-outline-color: #2e2e2e;
    --hunter-even-fill-color: #2e2e2e;
    --highlight-color: #6612EF;
    --text-color: #6612EF;
    --projects-title-fill-color: #494949;
    --projects-title-outline-color: #FFF;
    --project-outline-color: #494949;
    --active-project-button-color: #FFADAD;
    --active-project-button-outline-color: #FFADAD;


    --bio-text-color: #494949;
    --footer-text-color: #6612EF;
    --contact-here-color: #6612EF;
    --contact-social-color: #6612EF;
    --active-theme-selector-color: #FFADAD;
    --theme-selector-outline-color: #000;


    --project-title-bg-color: #FFF;
    --project-card-title-color: #FFADAD;
    --project-card-title-border-color: #FFADAD;
    --project-card-outline-color: #494949;
    --project-card-text-color: #494949;

    --footer-text-color: #494949;
    --contact-here-color: #FFADAD;
    --contact-social-color: #494949;
}

a{
    text-decoration: none ;
}

.background-clip {
    max-width: 100vw;
    min-height: 100vh;
    background-clip: text;
    scale: 1;
    transform-origin: top left;
    position:absolute;
    top:0;
    left:0;
    object-fit: fill;
    background-repeat: no-repeat;
    overflow: hidden;
}

.apply-clip-mask {
    scale: clap(0.6, 0.8, 1);
    -webkit-mask-image: url(./assets/background1.svg);
    -webkit-mask-size: clamp(40vw, 80vw, 90vw);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position-x: -25vw;
    -webkit-mask-position-y: -5vh;
    overflow-y: visible;
}

.hidden {
    display: none !important;
}

.main {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    height: 100vh;
    


    .main-bg-asset {
        // z-index: -1;
        // position: absolute;
        transform-origin: center top;
        // scale: 0.7;
        // height: 20%;
        // top: -0.125rem;
        // left: -35%;
        // overflow: visible;

    
    }
    

    .grid {
        max-width: 2000px;
        margin: 0.6rem 1.25rem 0 1.25rem;
        position: relative;
        min-height: 100vh;
  
        flex-direction: column;
        gap: 0.8rem;
    
      

        .title {
            
            font-family:JetBrains Mono;
            font-size: 13vw;
            text-align: right;
            color: var(--hunter-even-fill-color);
            -webkit-text-stroke: 1px var(--hunter-even-outline-color);
            text-transform: uppercase;
            margin-top: 2.375rem;
            transition: all 0.6s ease-in-out;
            background-color: transparent;

            

            &:hover {
                cursor: pointer;
                filter: invert(.8);
                
            }
            .desktop-title-break {
                display: none !important;
            }

        }

        .wavy-theme-transparent {
            opacity: 0.65;
        }
     
        
        .theme-selector-box {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            padding: 0.4rem 0rem;
            gap: 1vh;

            .theme-selector-box__circle {
                width: 1.25rem;
                height: 1.25rem;
                border-radius: 50%;
                cursor: pointer;
                border: 1px solid var(--theme-selector-outline-color);
                transition: border 0.3s ease, background-color 0.3s ease;

                // &::before {
                //     // content: "+";
                //     // opacity: 0;
                //     // position: absolute;
                //     // top: 50%;
                //     // left: 50%;
                //     // transform: translate(-50%, -50%);
                //     // transition: opacity 0.3s ease;
                // }

                &:hover {
                    // border: none;
                    background-color: var(--active-theme-selector-color);

                    &::before {
                        opacity: 1;
                    }
                }

                &.theme-selector-box__circle--active {
                    background-color: var(--active-theme-selector-color);
                }
            }
            .active-theme-selector{
                background-color: var(--active-theme-selector-color);
            }


            .theme-selector-box__cross-icon {
                font-size: 1.25rem;
                color: var(--theme-selector-outline-color);
                cursor: pointer;
                transition: color 0.3s ease;
                scale: 1.2;

            }

            .cross-hidden{
                display: none;
            }



            .hidden {
                display: none;
            }
        }
        
        .projects-list {
            // margin-top: 1.25rem;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 0.7rem;
        
            .projects-list__title {
                font-family: sans-serif;
                font-size: 8vw;
                font-weight: 700;
                letter-spacing: 0.1563rem;
                color: var(--projects-title-fill-color);
                text-transform: uppercase;
                text-align: right;
                // margin-bottom: 0.625rem;
                // padding: 0.4rem 0;
                -webkit-text-stroke: 1px var(--projects-title-outline-color);
            }
        
        
            .projects-list__project-button {
                font-family: sans-serif;
                font-size: 3vh;
                font-weight: 700;
                letter-spacing: 0.125rem;
                color: white;
                text-transform: uppercase;
                text-align: right;
                // margin-bottom: 0.625rem;
                // padding: 0.4rem 0;
                cursor: pointer;
                transition: all 0.5s ease;
                -webkit-text-stroke: 1px var(--project-outline-color);
                transform-origin: right; /* Set the transform origin */
        
                &:hover {
                    scale: 1.5;
                    align-self: flex-end;
                }
            }

            .project-button--active {
                color: var(--active-project-button-color);
                -webkit-text-stroke: 1px var(--active-project-button-outline-color);
            }
        }
        
        .bio {
        // transform: translateY(4rem);
        padding-top: clamp(4rem, 4rem, 16rem);
        display: flex;
        
       
        .bio__text {
            font-family: sans-serif;
            font-size: clamp(0.6rem, 1rem, 3.6vw);
            line-height: clamp(1.5rem, 2.5vw, 4.125rem);
            color: var(--bio-text-color);
            letter-spacing: 1.12px;
            // word-spacing: 5px;
            text-align: justify;
            padding: 4vh 0.8rem 1vh 0.8rem;

            transition: all 0.5s ease;
            
        }    
    }

        .card-close-button {
            display: grid;
            align-items: center;
            justify-items: center;
            z-index: 1000;
            position: relative;
            top: 0.2rem;
            left: 0.2rem;
            background-color: white;
            font-size: 3.25rem;
            height: 1.75rem;
            width: 1.75rem;
            color: var(--theme-selector-outline-color);
            cursor: pointer;
            transition: color 0.3s ease;
            scale: 1.2;
            border: 1px solid var(--theme-selector-outline-color);
            border-radius: 50%;

            &:hover {
                color: var(--active-theme-selector-color);
                background-color: var(--theme-selector-outline-color);

            }

            &__icon {
                font-size: 1rem;
                color: var(--theme-selector-outline-color);
                cursor: pointer;
                transition: color 0.3s ease;
                scale: 1.2;

                &:hover {
                    color: var(--active-theme-selector-color);
                }

            }
        }

      

        .project-card, .contact-card{
            z-index: 100;
            overflow-y: scroll;
            max-height: 42vh;
            min-height: 30vh;
            // min-width: 60%;
            // max-width: 90%;
           
            display: grid;
            gap: 0.4rem;
            background: white;
            grid-template-columns: 1fr;
            position: absolute;
            top: 45vh;
         
            transition: all 1.0s ease;

            border: 1px solid var(--project-card-outline-color);
            border-radius: 1.525rem;
            margin: 0.6rem auto 0rem auto;
            padding: 0.6rem 0.8rem;
           
            box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.55);

            // .project-card__contents-container {
            //     padding: 1.2rem 1.2rem;
                
            // }


            &::-webkit-scrollbar {
                display: none;
                // background: orange; 
                border-radius: 2rem;
                width: 0.5rem;
                // position: absolute;
                // transform: translateX(-2.5rem);
                
            }

            &::-webkit-scrollbar-track {
                background: white; 
                border-radius: 2rem;
                height: 80%;
            }

            &::-webkit-scrollbar-thumb {
                // background-color: grey;
                border: 2px solid var(--project-card-outline-color);
                border-radius: 2rem;
            }


            &__project-logo {
                display: none;
            }
           

            &__title {
                max-width: 100%;
                height: max-content;
                align-self: center;
                justify-self: center;
                
                background-color: var(--project-title-bg-color);
                font-size: 2.5vh;
                font-weight: 700;
                letter-spacing: 0.125rem;
                text-align: center ;
                text-transform: uppercase;
                color: var(--project-card-title-color);

                margin: 0.6rem 0;
                padding: 0.3125rem 1rem;

                border: 2px solid var(--project-card-title-border-color);
                border-radius: 1.25rem;    
            }

            .title-contact{
                font-size: 1rem;
                font-weight: 700;
                letter-spacing: 0.125rem;
                text-align: center ;
                text-transform: uppercase;
                color: var(--project-card-title-color);
                background-color: var(--contact-title-bg-color);
                border: none;

                // margin: 0.8rem 0;
                // padding: 0.3125rem 1.5rem;

                border: none;
                border-radius: 1.25rem;
            }

            &__details {
                font-size: 0.6rem;
                // margin: 0 0.65rem;
                color: var(--project-card-text-color);
                text-align: justify;

                grid-template-columns: 1fr;
                gap: 0.925rem;
            }

            &__tech-stack {
                font-size: 0.6rem;
                margin-bottom: 0.8rem;
                font-weight: 700;
                color: var(--project-card-text-color);
                text-align: center;
            }

            &__description {
                font-size: clamp(0.6rem, 0.8rem, 1rem);
                line-height: 1.2;
                padding-bottom: 0.6rem;
            }

            &__greeting{
                font-size: 0.7rem;
                color: var(--project-card-text-color);
                text-align: justify;
                margin-bottom: 0.4rem;
            }

            &__form {
                display: flex;
                flex-direction: column;
                justify-items: center;
                align-items: center;
                gap: 0.8rem;
                margin: 0.6rem 0;
                // padding-bottom: 0.8rem;

                &-input {
                    font-size: 0.7rem;
                    width: 100%;
                    // padding: 0.4rem 0.6rem;
                    border: none;
                    border-bottom: 1px solid var(--project-card-outline-color);
                    // border-radius: 0.3125rem;

                    &:focus {
                        outline: none;
                        border-bottom: 2px solid var(--project-card-outline-color);
                    }

                    &::placeholder {
                        color: var(--project-card-text-color);
                    }

                }

                &-message {
                    margin-top: 0.6rem;
                    font-size: 0.7rem;
                    padding: 0.4rem 0.6rem -0.8rem 0.6rem;
                    width: 100%;
                    border: none;
                    border-bottom: 2px dashed var(--project-card-outline-color);
                    color: var(--project-card-text-color);

                    &:focus {
                        outline: none;
                        border-bottom: 2px solid var(--project-card-outline-color);
                        
                    &::placeholder {
                        top: 10px;
                    }
               
                }

                &::placeholder {
                    
                    position: relative; /* Position the placeholder relative to the textarea */
                    top: 0.7rem;
                }

                }


                &-submit {
                    max-width: 80%;
                    // align-self: center;
                    justify-self: center;
                    
                    background-color: var(--project-title-bg-color);
                    font-size: 2vh;
                    font-weight: 700;
                    letter-spacing: 0.125rem;
                    text-align: center ;
                    text-transform: uppercase;
                    color: var(--project-card-title-color);
    
                    margin: 0.8rem 0;
                    padding: 0.4125rem 2.5rem;
    
                    border: 2px solid var(--project-card-title-border-color);
                    border-radius: 1.25rem; 

                    &:hover {
                        background-color: var(--project-card-title-border-color);
                        color: var(--project-title-bg-color) !important;
                    }
                }
            }


        }
    }

 

    .footer {
        z-index:  0;
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 0.8rem;
        justify-content: center;
        align-items: center;
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        bottom: 4.5rem;
        
        

        justify-self: center;
        align-self: center;


        &__text {
        color: var(--footer-text-color);
        font-family: JetBrains Mono;
        font-size: clamp(1.2vh, 1.4vh, 1.6vh);
        text-align: center;
        }

        .footer__here-btn {
            color: var(--contact-here-color);
            text-decoration: underline;
            font-size: clamp(1.2vh, 1.4vh, 1.6vh);

            &:hover {
                cursor: pointer;
                transform: scale(1.2);
            }
        }

        .footer__social-link {

        .social-link__icon {
            font-size: 1rem;
        
            color: var(--contact-social-color);
            transition: fill 0.3s ease; 

            &:hover {
                scale: 1.4;
                cursor: pointer;
            }
        }

    }



}

}




//UTILITY CLASSES//

.card-transition {
    transition: all 1.0s ease-in-out;
    
}


.out-of-view-right{
    transition: all 1.0s ease-in-out;
    display: hidden;
    // block-size: 0%;
    // position: absolute;
    transform: translateX(120vw);
}

.out-of-view-bottom{
    transition: all 1s ease-in-out;
    // block-size: 0%;
    display: hidden;
    position: absolute;
    transform: translateY(140vh);
}




@media only screen and (min-width: 700px) { 
    .bio {
        display: block;
    }

    .bio__text {
        font-size: 1.2rem !important;
        margin-left: 10rem;
        max-width: 80%;
    }


}







// DESKTOP STYLES //



@media only screen and (min-width: 750px) {
   
    main {
        display: block;
        margin: 0 0 0 0 !important;
    }


    .background-clip {
        scale: 1;
        min-height: 100vh !important;
    }

    .apply-clip-mask {
       
        -webkit-mask-size: clamp(60vw, 70vw, 80vw);

        -webkit-mask-position-x: -5vw;
        -webkit-mask-position-y: 0vh;
   
    }
    

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;

        justify-content: end;
        margin: 0 0 0 0 !important;
        margin-top: clamp(0vh, 2vh, 5vh) !important;
        margin-bottom: clamp(0vh, 2vh, 5vh) !important;
        margin-left: clamp(0vh, 0vh, 5vw) !important;
        margin-right: clamp(0vh, 0vh, 5vw) !important;
        // padding-right: 6rem;



        .desktop-right-grid {
            display: flex !important;
            align-items: end !important;
            justify-content: center !important;
        }
        
        .desktop-grid-left {
            display: flex !important;
            grid-template-rows: auto auto;
            margin-top: 6rem;
        }

        .title{
            block-size:auto;
            grid-column: 1;
            grid-row: 1;
            max-width: 40vw;
            
            text-align: left;
            // font-size: 10vw !important;
            font-size: clamp(3.5rem, 10vw, 25rem) !important;

            margin: 0rem 4rem !important;
            padding: 0rem 3rem !important;
            // top: 6.2rem !important;
            justify-self: start !important;
            
            -webkit-text-stroke: 3px var(--hunter-even-outline-color) !important;
    
            
        }
        
        .theme-selector-box {
            grid-column: 1;
            grid-row: 1;
            display: grid;
            grid-template-columns: 1fr;
 
            flex-direction: column !important;
            justify-content: flex-start!important;
            padding-top: 3vw !important;
            // margin-top: clamp(1rem, 1.5rem, 6.2rem) !important;
            margin-right: 5;
            // transform: translateX(2rem) !important;

            // padding-top: clamp(2rem, 4rem, 6.2rem) !important;
            // padding-top: 0 !important;
            padding-left: 4rem;

            gap: clamp(0.6rem, 1vw, 2.5rem) !important;


            .theme-selector-box__circle{
                width: 2vw !important;
                max-width: 4rem !important;
                height: 2vw !important;
                max-height: 4rem !important;

            }

        }
        
        .projects-list {
            grid-column: 2;
            grid-row: 1;
            margin: 5rem 4rem;
            display: grid;
            grid-template-columns: 1fr;
            gap: 2.2rem !important ;
            padding-top: 3rem;

            
            &__title{
                // font-size: 5vw !important;
                font-size: clamp(1.8rem, 4vw, 10rem) !important;
            }

            &__project-button {
                // font-size: 3vw !important;
                font-size: clamp(1.5rem, 3vw, 7rem) !important;
            }
            
        }

        .bio {
            
            grid-column: 2;
            grid-row: 1;
            position: relative;
            padding: 0rem auto !important;
            max-width: 55%;
            // margin: 0rem auto;
            justify-self: right;
            align-self: center;
            margin: 0rem 4rem;
            top: 16rem !important;
            // left: 11vw;

            &__text {
                font-size: 1.8rem !important;
                line-height: 3.125rem !important;
                letter-spacing: 0.1563rem;
                padding: 2rem 0rem !important;
                margin-left: 0 !important;
                max-width: none !important;
            }
        }


        .card-close-button {
            display: grid !important;
            height: 3.25rem !important;
            width: 3.25rem !important;

            &__icon {
                font-size: 1.5rem !important;
            }
        }

        .desktop-grid-right {
            grid-column: 2; 
            left: 12rem !important;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: end;
        }

        

        .project-card, .contact-card {      
            display:grid !important;
            grid-template-rows: auto;
            width: clamp(20rem, 40vw, 50rem) !important;
            min-height: 60vh !important;
            max-height: 80vh !important;
            max-width: 70%;
            position: relative;
            top: 9rem !important;
            left: 5vw !important;
            border: 3px solid var(--project-card-outline-color) !important;
            justify-content:flex-start !important;
            justify-self: center !important;
            align-self: center !important;
            gap: 1.4rem !important;
            padding: 1.4rem 3.4rem !important;
            margin-bottom: 8rem !important;
           
            
            &--desktop-grid-left {
                grid-column: 1; 
               
            }

            &--desktop-grid-right {
                grid-column: 2; 
                left: 12rem !important;
                // top: 18rem !important;
                min-height: 70vh;
              
            }

            &__project-logo{
                
                background-repeat: no-repeat;
                background-size: contain;
                display: block !important;
                height: clamp(6rem, 8rem, 12rem) !important;
                padding: 10rem 10rem;
                
                margin: 4rem auto 0rem auto !important;

            }
                .open-fermenet-logo {
                    background-image: url('./assets/hunter-even-of-logo.png');
                }

                .bug-tracker-logo {
                    background-image: url('./assets/hunter-even-bt-logo.png');
                }

                .portfolio-logo {
                    background-image: url('./assets/hunter-even-he-logo.png');
                    background-size:auto 70%;
                    background-position: center;
                    
                }

            &__greeting {
                font-size: 2rem !important;
                font-weight: 600;
                margin: 3rem 0rem !important;
                padding: 0.4rem 0rem;
                text-align: center !important;
            }   

            &__title {
                font-size: clamp(1.8rem, 3rem, 4rem) !important;
                margin: 0 !important;
                margin: 2.2rem !important;
                padding: 0.8125rem 3.5rem !important;
                border: 3px solid var(--project-card-title-border-color) !important;
                border-radius: 3rem !important;    
                
            }

            .title-contact{ 
                font-size: clamp(1.8rem, 3vw, 6rem) !important;
                border: none !important; 
                background-color: var(--contact-title-bg-color) !important;
            }

         

            &__tech-stack {
                font-size: 2rem !important;
                margin-bottom: 0.8rem;
                font-weight: 700;
                color: var(--project-card-text-color);
                text-align: center;
                // padding: 2rem 0rem;
            }

            &__description {
                // max-width: 80% !important;
                font-size: 1.6rem !important;
                line-height: 1.5 !important;
                padding-bottom: 0.6rem;
                margin: 0 1.25rem !important;
            }

            &__greeting{
                font-size: 1.8rem !important;
                padding: 0 clamp(2rem, 4rem, 6.2rem) !important;
      
        }

        &__form {
            padding: 0 clamp(2rem, 4rem, 6.2rem) !important;

            gap: 1.8rem !important;


            &-input {
                font-size: 1.8rem   !important;
                margin-top: 1.2rem;
                color: var(--project-card-text-color);

        }

        &-message {
            margin-top: 1.8rem !important;
            font-size: 1.8rem !important;

            padding: 0.4rem 0.6rem -2.8rem 0.6rem !important;

        }


        }




        
    }
    
    .out-of-view-right{
        transition: all 1.0s ease-in-out;
        display: hidden;
        // block-size: 0%;
        // position: absolute;
        transform: translateX(0vw);
    }

    .out-of-view-right-desktop {
        transition: all 1.0s ease-in-out;
        display: hidden;
        // block-size: 0%;
        // position: absolute;
        transform: translateX(120vw);
    }

    .out-of-view-left {
        transition: all 1.0s ease-in-out;
        display: hidden;
        // block-size: 0%;
        // position: absolute;
        transform: translateX(-120vw);
    }

    .footer {
        grid-column: 2;
        position: relative;
        // margin: 0 10rem !important;
        padding: 5rem 10rem !important;
        padding-right: clamp(4rem, 4.5rem, 6.2rem) !important;

        &__text {
            // font-size: 1.8rem !important;
            font-size: clamp(1.4rem, 1vw, 2rem) !important;

        }



        &--desktop-grid-right {
            grid-column: 2; 
            grid-row: 2;
            align-self: center !important;
            justify-self: center !important;
            left: 4rem !important;
            
        }

        .footer {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-shrink: 2;
       
        }

        .footer__text {
            font-size: clamp(1.2vh, 1.4vh, 1.4vh) !important;
        }

        .footer__here-btn {
            // font-size: clamp(0.8rem, 1.6rem, 2.125rem) !important;
        }

        .social-link__icon {
            font-size: 1.6rem !important;
        }
    }
  }

}